/* AboutUs.css */
.about-us {

    border-radius: 20px; /* Rounded corners */
    padding: 20px; /* Padding inside the rectangle */
    margin-top: 800px; /* Add margin to push the rectangle lower */
    margin-bottom:25px;
    color:#ddd;
    margin-left: 100px; /* Adjust the left margin */
    margin-right: 100px; /* Adjust the right margin */
    display: flex; /* Use flexbox */
    flex-direction: column; /* Align items vertically */
    justify-content: center; /* Center items vertically */
    align-items: center; /* Center items horizontally */
    text-align: center;
    height: 580px;
}
  
.developer-list, .tools-list  {
    display: flex;
    color:#ddd;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    justify-content: center; /* Center items horizontally */

}
  
  .developer, .tool {
    position: relative;
    margin: 15px 15px; /* Add margin to create space between elements */
    color:#ddd;
}
  
  .developer .developer-info, .tool .tool-info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px;
    text-align: center;
    transform: translateY(100%);
    transition: transform 0.3s ease-in-out;
    opacity: 0;
}
  
.developer:hover .developer-info , .tool:hover .tool-info{
    transform: translateY(0%);
    opacity: 1;
}
  
.developer-image, .tool-image  {
    width: 150px; /* Adjust image width as needed */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 10px
}
@media only screen and (max-width:1000px) {
    .about-us {
        margin-left: 50px; /* Adjust the left margin */
        margin-right: 50px; /* Adjust the right margin */
}
    .developer-image, .tool-image  {
        width: 100px; /* Adjust image width as needed */
        height: auto; /* Maintain aspect ratio */
    }
}

