/* Navbar.css */

.navbar {
    position: fixed;
    top: 0px; /*top*/
    left: 2%; /* Adjust left margin */
    right: 2%; /* Adjust right margin */
    background-color: #000000;
    padding: 15px; /* Adjust padding as needed */
    margin-top: 10px; /* Adjust top margin */
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    z-index: 1000;
}
.navbar-logo {
    font-family: 'Oswald', sans-serif;
    display: flex;
    align-items: center;
    color: #88838a;
    font-size:30px;
    
}
.navbar-logo img {
    width: 50px; /* Adjust the width to your desired size */
    height: auto; /* Maintain aspect ratio */
}
.navbar-links {
    list-style-type: none;
    margin: 5px;
    padding: 0;
    font-family: 'Oswald', sans-serif;
    font-size: 20px
}

.navbar-links li {
    display: inline;
    margin-right: 20px;
}

.navbar-links li a {
    color: #88838a;
    text-decoration: none;
    transition: color 0.3s ease;
}

.navbar-links li a:hover {
    color: #ddd;
}

/* Responsive adjustments */

@media only screen and (max-width:768px) {


    .navbar-links li {
        margin-right: 10px; /* Decrease margin between links for smaller screens */
    }
}