/* src/components/Task.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.task-item { /*to check if right or wrong soon*/
  width: calc(100% - 120px); 
  margin-left: 60px; 
  margin-right: 60px; 
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom: 1px solid #ddd; /*border-bottom: 5px solid #ddd;*/
  /*border-right: 10px solid rgb(110, 11, 11);
  border-top-right-radius: 20px;
  border-right-color: rgb(10, 110, 10);*/
}

.task-header {
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  cursor: pointer;
  background-color: #000000;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  
}

.task-title {
  font-size: 18px;
  font-weight: bold;
  color:#ddd;
  
}

.task-icon {
  font-size: 20px;
  color:#222222;
}

.task-content {
  display: none;
  background-color: #ddd;
  color: #222222;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 20px 30px; 
}

/* Show active task content */
.task-item.active .task-content {
  display: block;
}
/* Input and button styles */
.task-content input[type="text"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0px;
  border: 1px solid #000000;
  border-radius: 5px;
  box-shadow: inset 0 1px 3px #ddd;
}

.task-content button {
  background-color: #4CAF50;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  border: 2px solid black; /* Add black border */
}

.task-content button:hover {
  background-color: #45a049;
}

/*Responsive adjustments */
/*parang di need?*/
@media only screen and (max-width: 768px) {
  .task-item {
    width: calc(100% - 120px); /* Adjust width for larger screens */
    margin: 0 60px; /* Adjust margin for larger screens */
  }
}

@media only screen and (min-width: 1200px) {
  .task-item {
    width: calc(100% - 120px); /* Adjust width for larger screens */
    margin: 0 60px; /* Adjust margin for larger screens */
  }
}

