/* TypingText.css */
.typing-text {
    position: fixed;
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%);
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    z-index: 1000; /* Ensure it's on top of other content */
    color:#ddd;
}