.list-group {
  position: relative;
}

.list-group-dropdown {
  position: absolute;
  top: 50%;
  left: 0; /* Start from the left */
  width: 100%; /* Span the entire width */
  transform: translate(0, -50%);
  background-color: white;
  border: 1px solid black;
  padding: 10px;
  z-index: 9999;
}

.list-group-items {
  list-style: none;
  padding: 0;
}

.list-group-item {
  cursor: pointer;
}

